body {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 2em;
    background: #BBBBBB;
    font-family: Arial;
}

p {
    background-color: white;
    text-indent: 20px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 35px;
}

.Red p {
    border-left: thick solid red;
}

.Red h3 {
    color: blue;
    font-size: 20pt;
}

.Blue p {
    border-right: thick double blue;
}

.Blue h3 {
    color: yellow;
    background-color: green;
    font-size: 20pt;
}